<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title></title>

  <script>
    window.location.href = "https://korekenke.mil.pe/";
  </script>
</head>
<body>
</body>
</html>