---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Servicio de Veterinaria y Remonta del Ejército</title>
  </head>
  <body>
    <div class="general-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
